h1{
    color: blueviolet;
    text-align: start;
    
}

p{
    color: cadetblue;
    text-decoration: double;
    text-align: justify;
}
#good-day{
    text-transform: capitalize;
    font-size:50px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Paragraph{
    color: chartreuse;
    border: 1px solid black;
    height:150px;
    width:150px;
    overflow: scroll;
    padding:10px;

}

.create-box{
    height: 100px;
    width:100px;
    border: 50px;color:yellow ;
    background-color: pink;
}

div{
    margin-top: 50%;
    margin-left:50%;
    margin-right:50%;
    margin-bottom: 50%;

    margin:50% 50% 50% 50%;
}

a:link{
    color: cadetblue;
}
a:hover{
    color:rgb(2, 2,10)
}
a:active{
    color: blueviolet;
}
a:visited{
    color: chartreuse;
}